<h2>Codecname</h2>
$\rightarrow$ mehr Details
<table style="width: 100%; float: left;">
    <tbody>
    <tr>
        <td style="width: 14.2417%; text-align: left; vertical-align: middle;">Jahr:</td>
        <td style="width: 84.5628%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 14.2417%; text-align: left; vertical-align: middle;">Basis:</td>
        <td style="width: 84.5628%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 14.2417%; text-align: left; vertical-align: middle;">Kompression:</td>
        <td style="width: 84.5628%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 14.2417%; text-align: left; vertical-align: middle;">Modi:</td>
        <td style="width: 84.5628%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 14.2417%; text-align: left; vertical-align: middle;">Ablauf:</td>
        <td style="width: 84.5628%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 14.2417%; text-align: left; vertical-align: middle;">Vorverarbeitung:</td>
        <td style="width: 84.5628%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 14.2417%; text-align: left; vertical-align: middle;">Farbraumtransformation:</td>
        <td style="width: 84.5628%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 14.2417%; text-align: left; vertical-align: middle;">Abtastverh&auml;ltnis:</td>
        <td style="width: 84.5628%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 14.2417%; text-align: left; vertical-align: middle;">Blockgr&ouml;&szlig;e:</td>
        <td style="width: 84.5628%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 14.2417%; text-align: left; vertical-align: middle;">Transformation</td>
        <td style="width: 84.5628%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 14.2417%; text-align: left; vertical-align: middle;">Quantisierung:</td>
        <td style="width: 84.5628%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 14.2417%; text-align: left; vertical-align: middle;">Lauflängenkodierung:</td>
        <td style="width: 84.5628%;">&nbsp;</td>
    </tr>
    </tbody>
</table>
<p style="margin-bottom: 0.11in; line-height: 108%;">&nbsp;</p>
<h3 style="margin-bottom: 0.11in; line-height: 108%;">Artefakte:</h3>